 

.bg-gray {
    background: var(--gray-4);
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}
*, *:after, *:before {
    box-sizing: border-box;
}
feuille de style de l’agent utilisateur
section {
    display: block;
}
body {
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Heebo,arial,sans-serif;
    font-size: var(--fts-default);
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: var(--white);
    background-color: var(--black);
}
style attribut {
    --vh: 6.46px;
}
:root {
    --red: #be1836;
    --red-2: #E20505;
    --green: #61b59b;
    --blue: #4da1eb;
    --purple: #9932bd;
    --purple-2: #6100ff;
    --orange: #f47047;
    --primary-500: #feb91e;
    --primary-500-alpha-50: #feb91e80;
    --primary-600: #ffdc6e;
    --black: #090a0b;
    --gray-1: #101114;
    --gray-2: #1b1d23;
    --gray-3: #1c2129;
    --gray-4: #f7f7f7;
    --gray-5: #848383;
    --gray-50: #f1f3f4;
    --gray-100: #e2e7ec;
    --gray-200: #bcbdbe;
    --gray-300: #9fa3a6;
    --gray-400: #83888e;
    --gray-600: #4a525a;
    --gray-700: #343a40;
    --white: #fff;
    --white-alpha-05: rgba(255, 255, 255, .05);
    --white-alpha-10: rgba(255, 255, 255, .1);
    --white-alpha-20: rgba(255, 255, 255, .2);
    --white-alpha-30: rgba(255, 255, 255, .3);
    --white-alpha-50: rgba(255, 255, 255, .5);
    --white-alpha-70: rgba(255, 255, 255, .7);
    --transparent: rgba(255, 255, 255, 0);
    --dark-transparent: rgba(9, 10, 11, 0);
    --black-alpha-05: rgba(9, 10, 11, .05);
    --black-alpha-10: rgba(9, 10, 11, .1);
    --black-alpha-20: rgba(9, 10, 11, .2);
    --black-alpha-50: rgba(9, 10, 11, .5);
    --black-alpha-60: rgba(9, 10, 11, .6);
    --black-alpha-70: rgba(9, 10, 11, .7);
    --black-alpha-80: rgba(9, 10, 11, .8);
    --black-alpha-95: rgba(9, 10, 11, .95);
    --gray-3-alpha-03: rgba(28, 33, 41, .3);
    --gray-4-alpha-03: rgba(247, 247, 247, .3);
    --gray-2-alpha-05: rgba(28, 29, 31, .5);
    --gray-1-alpha-05: rgba(16, 17, 20, .5);
    --primary-alpha-05: rgba(243, 210, 105, .05);
    --primary-alpha-10: rgba(243, 210, 105, .1);
    --primary-alpha-15: rgba(243, 210, 105, .15);
    --primary-alpha-20: rgba(243, 210, 105, .2);
    --vh: 1000px;
    --cinecarte: linear-gradient(112.54deg, #8d69f3 2.68%, #f39b69 83.8%);

}
:root {
    --fts-default: 14px;
}
*, *:after, *:before {
    box-sizing: border-box;
}
*, *:after, *:before {
    box-sizing: border-box;
}

